.App {
  width: 619px;
}

.content {
  background: #c4c4c4;
  padding: 15px 16px 12px 16px;
  margin-bottom: 20px;
}
h1 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 15px;
}
.description {
  font-family: Roboto;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  width: 587px;
}
